@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
}

.main {
    background-image: url(assets/Images/bg.jpg);
    height: 70vh;
    background-position: center center;
    background-size: max(100vw, 1000px);
    text-align: center;
    position: relative;
}

.main #blackBox {
    background-color: rgb(0, 0, 0);
    opacity: 0.68;
    height: 70vh;
    width: 100%;
    position: absolute;
    top: 0px;
    text-align: center;
}

.navLogo {
    width: 120px;
    position: relative;
    z-index: 10;
}

.nav {
    display: flex;
    max-width: 60vw;
    padding-top: 10px;
    margin: auto;
    align-items: centers;
    justify-content: space-between;
}

.navButton {
    position: relative;
    z-index: 10;
}

.main_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 8.9%);
    color: white;
    position: relative;
    font-family: 'Martel Sans', sans-serif;
}

.text1 {
    font-weight: bolder;
    font-size: 40px;
    text-justify: center;
    letter-spacing: -2.5px;
}

.text2 {
    font-weight: 500;
    font-size: 24px;
}

.text3 {
    font-weight: 400;
    font-size: 20px;
    text-justify: center;
}

.email:after {
    content: ' \003E';
}

.seperation {
    height: 6px;
    background-color: rgb(61, 61, 61);
}

.btn {
    margin: 3px;
    padding: 3px 20px;
    border-radius: 4px;
    border: 0.3px solid rgb(143, 143, 143);
    color: white;
    background-color: rgba(69, 69, 69, 0.397);
}

.btn-red-sm {
    background-color: red;
    color: white;
    border: 0px;
    padding: 5px 8px;
    font-weight: 700;
}

.email {
    padding: 9px 19px;
    background-color: rgba(0, 0, 0, 0.552);
    border-radius: 4px;
    border: 0.5px solid rgb(146, 146, 146);
    color: white;
    font-weight: 100;
}

.btn-red {
    padding: 9px 17px;
    background-color: red;
    color: white;
    border: 0px;
    font-weight: 700;
}

.first,
.second,
.third {
    margin-top: 5vh;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: auto;
    max-width: 70vw;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

.first .text,
.second .text,
.third .text {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    color: white;
    font-family: 'Martel Sans', sans-serif;
}

.first .text .big-text,
.second .text .big-text,
.third .text .big-text {
    font-weight: bolder;
    font-size: 48px;
    line-height: 150%;
}

.first .text .small-text,
.second .text .small-text,
.third .text .small-text {
    font-size: 24px;
    font-weight: 300;
    line-height: 120%;
}

.secImg {
    position: relative;
}

.secImg img {
    position: relative;
    width: 30vw;
    z-index: -1;
}

.secImg-out img {
    position: relative;
    width: 20vw;
    /* border: 2vw solid transparent; */
    border-radius: 75px;
    padding: 40px;
}

.secImg video {
    position: absolute;
    right: 13.8%;
    width: 22vw;
    top: 20%;
    z-index: -2;
}

h1 {
    color: rgb(192, 191, 191);
    text-align: center;
    font-family: 'Martel Sans', sans-serif;
    font-size: 36px;
    font-weight: bolder;
}

.faq {
    margin: auto;
}

.faq-box {
    display: flex;
    color: white;
    background-color: rgb(38, 38, 38);
    padding: 20px 30px;
    border: 20px 30px;
    max-width: 60vw;
    max-height: 4vh;
    font-family: 'Martel Sans', sans-serif;
    font-size: 20px;
    margin: auto;
    justify-content: conte;
    margin-bottom: 0.8vh;
    cursor: pointer;
}

.faq-box:hover {
    background-color: rgb(93, 93, 93);
}

.faq-box svg {
    position: absolute;
    width: 2vw;
    max-height: 4vh;
    left: 77%;
}

.main-text {
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 8.9%);
    color: white;
    position: relative;
}

footer p {
    color: white;
    font-size: 20px;
    font-family: 'Martel Sans', sans-serif;
}

footer .contact p a {
    text-decoration: underline;
    color: wheat;
    font-size: 18px;
}

footer .contact {
    max-width: 60vw;
    margin: 15px 20vw;
    padding-bottom: 10px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    margin: auto;
    max-width: 60vw;
    padding: 2% 0px 2% 0px;
}

.footer-content a {
    display: flex;
    font-family: 'Martel Sans', sans-serif;
    flex-direction: column;
    font-size: 14px;
    color: white;
    padding: 3%;
    margin: auto;
}

.footer-language {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50vw;
}

.final-text {
    max-width: 60vhvh;
    margin-left: 20vw;
    padding: 3% 0 4% 0;
    align-items: center;
    display: flex;
}