@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
}

.main {
    background-image: url(assets/Images/bg.jpg);
    height: 70vh;
    background-position: center center;
    background-size: max(100vw, 1000px);
    text-align: center;
    position: relative;
}

.main #blackBox {
    background-color: rgb(0, 0, 0);
    opacity: 0.68;
    height: 70vh;
    width: 100%;
    position: absolute;
    top: 0px;
    text-align: center;
}

.navLogo {
    width: 120px;
    position: relative;
    z-index: 10;
}

.nav {
    display: flex;
    max-width: 60vw;
    padding-top: 10px;
    margin: auto;
    align-items: centers;
    justify-content: space-between;
}

.navButton {
    position: relative;
    z-index: 10;
}

.main_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 10%);
    color: white;
    position: relative;
    font-family: 'Martel Sans', sans-serif;
}

.text1 {
    font-weight: bolder;
    font-size: 40px;
    text-justify: center;
    letter-spacing: -2.5px;
}

.text2 {
    font-weight: 500;
    font-size: 24px;
}

.text3 {
    font-weight: 400;
    font-size: 20px;
    text-justify: center;
}

.email:after {
    content: ' \003E';
}

.seperation {
    height: 6px;
    background-color: rgb(131, 131, 131);
}

.btn {
    margin: 3px;
    padding: 3px 20px;
    border-radius: 4px;
    border: 0.3px solid rgb(143, 143, 143);
    color: white;
    background-color: rgba(69, 69, 69, 0.397);
}

.btn-red-sm {
    background-color: red;
    color: white;
    border: 0px;
    padding: 5px 8px;
    font-weight: 700;
}

.email {
    padding: 9px 19px;
    background-color: rgba(0, 0, 0, 0.552);
    border-radius: 4px;
    border: 0.5px solid rgb(146, 146, 146);
    color: white;
    font-weight: 100;
}

.btn-red {
    padding: 9px 17px;
    background-color: red;
    color: white;
    border: 0px;
    font-weight: 700;
}